// ****************************************
//
//     SUPERINTENDÊNCIA DE INFORMÁTICA
//           http://info.ufrn.br
//
//                v1.0.0
//
//*****************************************


$breakpoints: (
  smartphone: 320px,
  smartphone-lg: 425px,
   tablet-sm: 600px,
      tablet: 768px,
      mobile: 900px,
     desktop: 992px,
     laptop: 1024px,
     laptop-l: 1440px,
  widescreen: 1200px
);
